{% extends 'base.html.twig' %}


{% block main %}

<div class="event-filters">
    <label>Filtry</label>

    {{ form_start(filtersForm) }}

    

    {{ form_end(filtersForm) }}
</div>

<div class="events-list">
    {% for event in events %}
        {{ dump(event) }}
    {% endfor %}
</div>

{% endblock %}