{% extends 'base.html.twig' %}


{% block main %}

<div class="event-filters">
    <label>Filtry</label>

    {{ form(filtersForm) }}
</div>

<div class="events-list">
    {% for event in events %}
        <div><a href="{{ path('front.events.show', {'id': event.id}) }}">{{ event.id }} - {{ event.title }}</a></div>
    {% endfor %}
</div>

{% endblock %}