{% extends 'base.html.twig' %}


{% block main %}

<div class="event-filters">
    <label>Filtry</label>

    {{ form(filtersForm) }}
</div>

<div class="events-list">
    {{ 'ages.children'|trans }}
    {% for event in events %}
        <div>{{ event.id }}</div>
    {% endfor %}
</div>

{% endblock %}