{% extends 'base.html.twig' %}


{% block main %}

    <h2>Postanowienia ogólne</h2>

    <p>Strona XX jest miejscem, gdzie można zgłaszać wydarzenia łucznicze. Dostęp i korzystanie jest w pełni bezpłatne.</p>

    <h2>Zakres odpowiedzialności</h2>

    <p>Nie odpowiadamy za błędy.</p>
{% endblock %}