<footer>
    <nav>
        <ul>
            <li><a href="">Polityka Prywatności</a></li>
            <li><a href="">Regulamin</a></li>
            <li><a href="">Kontakt</a></li>
        </ul>
    </nav>
</footer>