<header>
    <nav>
        <ul class="flex">
            <li class="mr-2"><a href="{{ path('front.home') }}">Strona główna</a></li>
            <li class="mr-2"><a href="{{ path('front.home') }}">Wydarzenia</a></li>
            <li class="mr-2"><a href="{{ path('front.home') }}">Dodaj wydarzenie</a></li>
        </ul>
    </nav>
</header>