<header>

    <div class="page-title">
        <h1>Bow Events</h1>
    </div>

    <nav id="main-nav">
        <ul>
            <li><a href="{{ path('front.events') }}">Wydarzenia</a></li>
            <li><a href="{{ path('front.events') }}">Regulamin</a></li>
            <li><a href="{{ path('front.events') }}">Polityka Prywatności</a></li>
            <li><a href="{{ path('front.events') }}">Dodaj Wydarzenie</a></li>
        </ul>
    </nav>

</header>