<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bow Events</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/main.css')~'?'~date().format('U') }}"/>
    </head>
    <body>
        {% include '_partials/header.html.twig' %}

        <div class="intro">
            <div>
                <p>Witaj na stronie kalendarza, do którego można dodawać wszelakie wydarzenia łucznicze.</p>
                <p>Aktualnie dodawaniem zajmuję się głównie ja, aczkolwiek projekt docelowo ma sam się utrzymywać.</p>
                <p>Nie ma tu absolutnie nic poza listą wydarzeń i linkami do źródeł, by można było dotrzeć do wymaganych informacji by znaleźć wszystkie potrzebne dane by się zapisać.</p>
                <p>Poza zbieraniem informacji o zawodach ta strona nie ma absolutnie żadnego innego celu. To nie ArcheryPoints, zapisy nie są obsługiwane.</p>
            </div>
        </div>

        <main class="{% if pageClass is defined %}{{ pageClass }}{% endif %}">
            {% block main %}

            {% endblock %}
        </main>

    </body>
</html>
