<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bow Events</title>

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/main.css')~'?'~date().format('U') }}"/>
    </head>
    <body>
        {% include '_partials/header.html.twig' %}
        <main></main>
        {% include '_partials/footer.html.twig' %}
    </body>
</html>
